.user-ingredient {
  border-bottom: #C5CFCF 2px solid;
  &:hover {
    .user-ingredient__delete {
      display: block;
    }
  }
}

.user-ingredient__delete{
  top: -10px;
  right: -10px;
  cursor: pointer;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 0;
  text-decoration: none;
  z-index: 1;
  &:hover {
    background-color: #C5CFCF;
  }
}

.user-ingredient__delete{
  display: none;
  position: absolute;
}

.refrigerator{
  display: flex;
  flex-wrap: wrap;
  border: #18181e 5px solid;
  border-radius: 15px;
  margin: 10px;
  background: white;
  justify-content: space-evenly;
  padding: 10px 0;
}

.user-ingredient__weight-input {
  border-radius: 3px;
  max-width: 50px;
  margin: 3px;
}

.user-ingredient__weight-input_submit {
  border-radius: 3px;
  cursor: pointer;
}
