.user-ingredient{
  display: block;
  width: 76px;
  height: 76px;
  &:hover {
    opacity: 1;
    .user-ingredient__delete {
      display: block;
    }
    .user-ingredient__text {
      display: flex;
    }
    .user-ingredient__image {
      -webkit-filter: blur(2px);
      filter: blur(2px);
    }
  }
  margin-top: 10px;
  border-bottom: #C5CFCF 2px solid;
  position: relative;
}

.user-ingredient__delete{
  top: -10px;
  right: -10px;
  cursor: pointer;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 0;
  text-decoration: none;
  z-index: 1;
  &:hover {
    background-color: #C5CFCF;
  }
}

.user-ingredient__text{
  top: -2px;
  left: -5px;
  right: -5px;
  bottom: -2px;
  font-size: 15px;
  overflow: visible;
  color: white;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  transition: .3s all;
  border-radius: 3px;
  opacity: 1;
  justify-content: space-around;
  flex-direction: column;
  cursor: pointer;
}

.user-ingredient__delete,
.user-ingredient__text{
  display: none;
  position: absolute;
}

.refrigerator{
  display: flex;
  flex-wrap: wrap;
  border: #18181e 5px solid;
  border-radius: 15px;
  margin: 10px;
  background: white;
  justify-content: space-evenly;
  padding: 10px 0;
}

.user-ingredient__weight-input {
  border-radius: 3px;
  max-width: 50px;
  margin: 3px;
}

.user-ingredient__weight-input_submit {
  border-radius: 3px;
  cursor: pointer;
}

.sidebar-header{
  display: flex;
  padding: 0 25px;
}

.sidebar-header__link {
  text-decoration: none;
  font-size: 1.5em;
  margin-left: auto;
  color: black;
}

.sidebar{
  height: 100%;
}
