@mixin button {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  display: inline-block;
  color: #18181E;
  padding: 10px 20px;
  font-size: 14pt;

  &:hover {
    background-color: #E7F2F2;
  }
}

@mixin border {
  border: #C5CFCF 1px solid;
}

.App {
  text-align: center;
  background: #F4D495;
  font-family: "Montserrat", "Roboto Thin", sans-serif;
}

.Wrapper {
  background: #FFFFFF;
  min-height: 100vh;
  width: 1200px;
  margin: auto;
  display: grid;
  grid-template-areas: 'header header' 'aside content';
  grid-template-columns: 240px 1fr;
  grid-template-rows: 70px 1fr;
}

.AppHeader {
  @include border;
  text-align: right;
  grid-area: header;


  .SignUpButton, .SignInButton {
    @include button;
    margin: 15px 0;
  }

}

.MineIngredients {
  @include border;
  grid-area: aside;
  background: #F4F4F4;

}

.Content {
  grid-area: content;
  display: grid;
  grid-template-rows: 1fr 5fr 1fr 8fr;

}

.SearchIngredient {
  @include border;
  border-left: none;
  width: 100%;
}

.SearchBar {
  width: 800px;
  margin-top: 18px;


}

.IngredientsList {

  overflow: auto;

}

.RecipesButtons {
  @include border;
  border-left: none;
}

.ShowAllRecipesButton, .RandomRecipeButton, .CreateRecipeButton {
  @include button;
}

.SearchRecipesResults {

}
