@mixin button {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  display: inline-block;
  color: #18181E;
  padding: 10px 20px;
  font-size: 14pt;

  &:hover {
    background-color: #E7F2F2;
  }
}

@mixin border {
  border: #C5CFCF 1px solid;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {

  background: #F4D495;
  font-family: "Montserrat", "Roboto Thin", sans-serif;
}

.Wrapper {
  background: #FFFFFF;
  min-height: 100vh;
  display: grid;
  grid-template-areas: 'header header' 'aside content';
  grid-template-columns: 240px auto;
  grid-template-rows: 70px auto;

  width: 1200px;
  margin: 0 auto;
}

.AppHeader {
  @include border;

  grid-area: header;


  .SignUpButton, .SignInButton {
    @include button;
    margin: 15px 0;
    float: right;
  }

}

.MineIngredients {
  @include border;
  grid-area: aside;
  background: #F4F4F4;
  text-align: center;

}

.Content {
  grid-area: content;
}

.Home {
  display: grid;
  grid-template-rows: 1fr 5fr 1fr 8fr;

  .SearchIngredient {
    @include border;
    border-left: none;
    width: 100%;
  }

  .SearchBar {
    width: 90%;
    margin: 12px 5px 12px 5px;
  }

  .IngredientsList {
  }

  .RecipesButtons {
    @include border;
    border-left: none;
    text-align: center;
  }
}

.CreateRecipe h1 {
  text-align: center;
}

.CreateRecipeForm {
  display: grid;
  grid-template-rows: 1fr 2fr repeat(3, 1fr) 2fr;
  margin: 10px;
}
.InputTextareaRecipeForm {
    width: 95%;
    margin: 5px;
    height: 100px;
}

.InputTextRecipeForm {
    margin: 5px;
  }


.CreateRecipeSubmit {
  @include button;
  background-color: #FFFFFF;
  width: fit-content;

}
.InputNumberRecipeForm {
  width: 40px;
  height: 20px;
}

.ShowAllRecipesButton, .RandomRecipeButton, .CreateRecipeButton {
  @include button;
}

.SearchRecipesResults {

}

.SignUpPage {
  margin: 0 auto;
  padding: 70px;
  width: 40%;
  height: auto;
  @include border;
}

.SignUpForm {

  display: grid;
  grid-template-rows: repeat(5, 1fr);
  row-gap : 10px;
  & input {
    width: 90%;
    min-height: 30px;
  }


}
.SignUpSubmit, .SignInSubmit {
  @include button;
  background-color: #FFFFFF;
  width: fit-content;
}
.SignInModal {
  @include border;
  display: block;
  position:relative;
  right: -83%;
  z-index: 2;
  width: 200px;
  height: 200px;
  background-color: #FFFFFF;
  text-align: center;
}
.SignInForm input{
  padding: 5px;
  margin: 10px;
  text-align: center;
}

